[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/jerryz920/kubernetes
	branch = tapcon
[submodule "hadoop"]
	path = hadoop
	url = https://github.com/jerryz920/hadoop
	branch = tapcon
[submodule "spark"]
	path = spark
	url = https://github.com/jerryz920/spark
	branch = latte-k8s
